<h1>$word.getWord()</h1>

<ul>
  #foreach($definition in $word.getDefinitions())
   <li>$definition.getContent()</li>
  #end
</ul>

<a href="/words/$word.getId()/definitions/new">Add a new definition</a>
<a href="/">All words</a>
